/* body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

#submit-btn{
    background-color: rgb(255, 255, 255);
    border-color: rgb(111, 186, 255);
    color:#333;
    margin-left: 190px;
    margin-top: 20px;
    width: 40%;

}

#submit-btn:hover{
    background-color: rgb(111, 186, 255);
    border-color: rgb(111, 186, 255);
    color:rgb(255, 255, 255);
}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

#search {
    max-width: 80%; 
    max-height: 100%;
    margin-top: 150px;
    color: aqua;


}

form {
    width: 600px;
    height: 300px;
    margin-top: 20px
} */